
IG_GRAPH_TOKEN=...
IG_USER_ID=...
IG_GRAPH_VERSION=v24.0
GRAPH_BASE=https://graph.instagram.com

CH_HOST=host.docker.internal
CH_PORT=8123
CH_USER=default
CH_PASSWORD=default
CH_DATABASE=instagram_etl
CH_SECURE=false

COMMENTS_MEDIA_SCAN_LIMIT=200
COMMENTS_PAGE_SIZE=50

INITIAL_SYNC_START_AT=2026-01-01T00:00:00Z
BACKFILL_CHUNK_DAYS=60
MAX_WINDOWS_PER_RUN=1
SYNC_LOOKBACK_HOURS=24